*{
  color: white;
}
.pop-instrument{
  position: absolute;
  width: 80vw;
  visibility: hidden;
  background-color: gray;
  top: 50px;
  left:0px;
  display: flex;
  flex-wrap: wrap;
  .instrument-item{
    width: 10vw;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
  }
}
.app{
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  user-select: none;
  .menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    width: 100vw;
    background: rgb(63, 63, 63);
    .mode{
      height: 50px;
      line-height: 50px;
      text-align: center;
      white-space: nowrap;
      // text-overflow: clip;
      width: 100px;
      background-color: black;
      cursor: pointer;
      position: relative;
    }
    .dioHao{
      display: flex;
      align-items: center;
    }
    .text{
      width: 90px;
      height: 50px;
      line-height: 50px;
      text-align: right;
      padding-right: 10px;
    }
    .input_range{
      width: 150px;
      -webkit-appearance: none;
      height: 0.5vh;
      border-radius: 1vh;
      background-color: rgb(121, 121, 121);
    }
    .input_range::-webkit-slider-thumb{
      -webkit-appearance: none;
      height: 2vh;
      width: 2vh;
      border-radius: 50%;
      background-color: rgb(36, 36, 36);
    }
    
  }
  
}